* {
    border-collapse: collapse;
    text-align: center;
}


tr:nth-child(even) {
    background-color: #ff0303;
}


table {
    font-family: arial, sans-serif;
    font-family: 'Anton', sans-serif;
    font-family: 'Cormorant SC', serif;
}



h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;


    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

td {
    font-size: 1.5em;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.2em;
}

th {
    border: 2px solid #000000;
    text-align: center;
    padding: 8px;
}


body {
    background-color: rgb(246, 241, 241);
    overflow-x: hidden;
}


button {
    margin: 10px;
    background-color: rgb(249, 249, 249);
    width: 15vh;
    min-height: 5vh;
    border-radius: 0.2em;
}

.btn-read {

    border: 0.2rem solid blue;
}

.btn-update {
    border: 0.2rem solid rgb(255, 234, 0);
}

.btn-delete {
    border: 0.2rem solid rgb(255, 0, 0);
}

.btn-page:hover {
    background-color: rgb(121, 215, 151);
    cursor: pointer;
}

.btn-read:hover {
    background-color: rgb(73, 142, 232);
    cursor: pointer;
}

.btn-update:hover {
    background-color: rgb(243, 243, 99);
    cursor: pointer;
}

.btn-delete:hover {
    background-color: rgb(226, 83, 83);
    cursor: pointer;
}

.modal {
    background-color: rgba(4, 4, 4, 0.87);
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 150%;
    height: 80vh;
    min-width: 40vh;
    text-align: center;
}
.modal-add-book{
    background-color: rgba(4, 4, 4, 0.87);
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 150%;
    height: 30vh;
    min-width: 30vh;
    text-align: center;
}

.modal-add-book.open{
    left: 65%;
    top: 11em;
    transition: left .5s;
}

.modal.open {
    left: 50%;
    transition: left .5s;
}

.modal-add-book h3{
    color: rgb(210, 20, 52);
    text-decoration: overline;
    text-transform: capitalize;
}
.modal h3 {
    color: rgb(210, 20, 52);
    text-decoration: overline;
    text-transform: capitalize;
}

h4 {
    color: rgb(255, 255, 255);
}

.rateValue {
    width: 20vh;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    text-align: center;
    /* margin-left: 48%; */
}

.flexContainer-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexContainer-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;

}

.flexContainer-range {
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
}

.flexContainer-search h3{
    display: inline;
}
.flexContainer-search{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lang{
    width: 100px;
}


@media screen and (max-width:750px){
    * {
        font-size: 8px;
    }
    body{
        /* height: 50vh; */
        
    }
    button{
        width: 40px;
        height: 30px;
    }
}
body.rtl {
    direction: rtl;
}

body.rtl .btn-delete {
    float: left;
} 