table {
    /* width: 100%; */
    font-family: arial, sans-serif;
    /* border-collapse: collapse; */
    /* width: 100%; */
    /* background-color: rgb(64, 135, 148); */
    font-family: 'Anton', sans-serif;
    font-family: 'Cormorant SC', serif;
    /* border-radius: 20em; */
    /* height: 6rem; */

}

h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;


    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

td {
    /* display: flex; */
    background-color: rgba(71, 133, 174, 0.499);
    font-size: 1.5em;
    text-align: center;
    width: 100vh;
    height: 4rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.2em;
}

th {
    /* border-radius: 20em; */
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: rgb(180, 215, 228);
}

tr:nth-child(even) {

    background-color: #dddddd;
}

body {
    background-color: rgba(255, 255, 255, 0.379);
}

tbody {}

button {
    background-color: rgb(249, 249, 249);
    width: 8rem;
    height: 2rem;
    border-radius: 0.2em;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 5em solid rgb(19, 70, 80); */
    /* border-radius: 2em; */
    /* max-height: 0.1vh; */
    /* cursor: pointer; */

}

.btn-read {
    border: 0.2rem solid blue;
}

.btn-update {
    border: 0.2rem solid rgb(255, 234, 0);
}

.btn-delete {
    border: 0.2rem solid rgb(255, 0, 0);
}

.btn-page:hover {
    background-color: rgb(121, 215, 151);
    cursor: pointer;
}

.btn-read:hover {
    background-color: rgb(73, 142, 232);
    cursor: pointer;
}

.btn-update:hover {
    background-color: rgb(243, 243, 99);
    cursor: pointer;
}

.btn-delete:hover {
    background-color: rgb(226, 83, 83);
    cursor: pointer;
}

.modal {
    background-color: #111;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 150%;
    height: 80vh;
    min-width: 300px;
    text-align: center;
}

.modal.open {
    left: 50%;
    transition: left .5s;
}

.modal h3 {
    color: rgb(210, 20, 52);
    text-decoration: overline;
    text-transform: capitalize;
}

h4 {
    color: rgb(4, 78, 43);
}

.rateValue {
    width: 3rem;
    background-color: lightgreen;
    text-align: center;
    /* margin-left: 48%; */
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}